In [2]:
pip install pandas

Collecting pandas
  Downloading pandas-2.0.3-cp38-cp38-win_amd64.whl (10.8 MB)
                                              0.0/10.8 MB ? eta -:--:--
     --                                       0.6/10.8 MB 11.8 MB/s eta 0:00:01
     -----------                              3.0/10.8 MB 26.9 MB/s eta 0:00:01
     ---------------                          4.3/10.8 MB 30.1 MB/s eta 0:00:01
     -----------------                        4.7/10.8 MB 23.0 MB/s eta 0:00:01
     -----------------                        4.7/10.8 MB 23.3 MB/s eta 0:00:01
     ----------------------------             7.7/10.8 MB 27.4 MB/s eta 0:00:01
     -----------------------------------      9.4/10.8 MB 30.1 MB/s eta 0:00:01
     -----------------------------------      9.4/10.8 MB 30.1 MB/s eta 0:00:01
     --------------------------------------  10.8/10.8 MB 27.3 MB/s eta 0:00:01
     --------------------------------------- 10.8/10.8 MB 24.2 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\chlwl\appdata\local\programs\python\python38\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
                                              0.0/502.3 kB ? eta -:--:--
     ---------------------------------------- 502.3/502.3 kB ? eta 0:00:00
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
                                              0.0/341.8 kB ? eta -:--:--
     ------------------------------------- 341.8/341.8 kB 10.7 MB/s eta 0:00:00
Collecting numpy>=1.20.3 (from pandas)
  Downloading numpy-1.24.4-cp38-cp38-win_amd64.whl (14.9 MB)
                                              0.0/14.9 MB ? eta -:--:--
     ---                                      1.3/14.9 MB 40.3 MB/s eta 0:00:01
     --------                                 3.3/14.9 MB 41.3 MB/s eta 0:00:01
     ---------------                          5.7/14.9 MB 45.5 MB/s eta 0:00:01
     ----------------------                   8.4/14.9 MB 48.5 MB/s eta 0:00:01
     -----------------------------           11.4/14.9 MB 54.7 MB/s eta 0:00:01
     ---------------------------------       12.6/14.9 MB 50.4 MB/s eta 0:00:01
     --------------------------------------  14.9/14.9 MB 54.7 MB/s eta 0:00:01
     --------------------------------------- 14.9/14.9 MB 46.7 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\chlwl\appdata\local\programs\python\python38\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.24.4 pandas-2.0.3 pytz-2023.3 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

chicken07 = pd.read_csv('./data/chicken_07.csv')
chicken07.tail(5)

            기준일 요일 성별    연령대     시도  시군구  읍면동  업종  통화건수
26374  20190731  수  여  60대이상  서울특별시  중랑구  면목동  치킨    20
26375  20190731  수  여    30대  서울특별시  중랑구  중화동  치킨     5
26376  20190731  수  여    10대  서울특별시  중랑구  면목동  치킨     5
26377  20190731  수  여  60대이상  서울특별시  중랑구  망우동  치킨     5
26378  20190731  수  남    40대  서울특별시  중랑구  면목동  치킨    22

In [5]:
chicken07.describe()

                기준일          통화건수
count  2.637900e+04  26379.000000
mean   2.019072e+07     12.346109
std    8.869258e+00     14.961707
min    2.019070e+07      5.000000
25%    2.019071e+07      5.000000
50%    2.019072e+07      5.000000
75%    2.019072e+07     14.000000
max    2.019073e+07    279.000000

In [ ]:
gender_range = set(chicken07['성별'])
print(gender_range, len(gender_range))
# {'남', '여'} 2

In [6]:
gender_range = set(chicken07['성별'])
print(gender_range, len(gender_range))
# {'남', '여'} 2

{'여', '남'} 2

- Q. 퀴즈 설명
- 요일 데이터 살펴보기
day_data = set(chicken07['요일'])
print(day_data)
- 시군구 데이터 살펴보기
- 읍면동 데이터 살펴보기

In [10]:
sigungu_data = set(chicken07['시군구'])
print(sigungu_data)

{'강남구', '금천구', '은평구', '구로구', '중구', '서대문구', '동작구', '성동구', '광진구', '동대문구', '노원구', '중랑구', '송파구', '성북구', '도봉구', '관악구', '강북구', '종로구', '강동구', '양천구', '용산구', '강서구', '마포구', '영등포구', '서초구'}